body {
    font-family: sans-serif;
}

h4 {
    color: grey;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: auto%;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 40%;
    display: inline-block;
    float: right;
}

#rightcontainer {
width: 70;
position: relative;
padding: 10px;
padding-top: 0;
display: inline-block;
}

button {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    border-radius: .25rem;
    width: 100%;
}

h1 {
    margin-top: 10px;
}